.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .altura {
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex-grow: 1;

    }
}
.botao
{
    
      display: flex;
      flex-wrap: wrap; 
      justify-content: center;
      justify-content: space-between;
      gap: 10px;
      padding: 20px;
    
}